.visible {
  background-color: rgb(238, 238, 26);
  display: block;
  border-radius: 15px;
}

.invisible {
  display: none;
}

.types {
  width: 30px;
}
section div img#sac {
  width: 500px;
  height: 500px;
}
